*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }
  nav{
    background: #08A045;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 40px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #073B3A;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

  /*  Hero Image */

  body, html {
      height: 100%;
  }

  .backgroundimage {
      background-image: url('prudence-earl-NwBx723XaHw-unsplash.png');
      width: 100vw;
      height: 100vh;
      /* background-size: 100% 100%; */
      background-repeat: no-repeat;
      /* position: relative; */
  }

  nav {
      overflow: auto;
  }

  .hero-text {
      text-align: center;
      padding-top: 10%;
      color: white;
  }

  .hero-text h1 {
      font-size: 6rem;
      padding-bottom: 2rem;
  }

  .hero-text p {
      font-size: 3rem;
      color: beige
  }

  .hero-text button {
      margin-top: 4rem;
      padding: 1%;
      padding-left: 2rem;
      padding-right: 2rem;
  }
  

  /* Teams Page */

 .containerone {
   display: flex;
   justify-content: space-around;
   margin: 20px 80px;
   padding-top: 6%;

 }









 .containertwo {
   display: flex;
   justify-content: space-around;
   margin: 20px 80px;
   padding-top: 6%;
 }








 .containerthree {
  display: flex;
  justify-content: space-around;
  margin: 20px 80px;
  padding-top: 6%;

 }



 .user-name {
   margin-top: 30px;
   font-size: 35px;
 }

 .profile h5 {
   font-size: 18px;
   font-weight: 549;
   letter-spacing: 3px;
   padding-bottom: 5%;
 }


 .profile p {
   font-size: 18px;
   font-weight: 100;
 }

.profile {
  padding: 3%;
}

.teamtitle {
  text-align: center;
  padding-top: 5%;
}



  
  @media (max-width: 800px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }

  @media (max-width: 500px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #08A045;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }


  @media (max-width: 500px){
    .containerone {
      display: flex;
      flex-direction: column;
    }

    .containertwo {
      display: flex;
      flex-direction: column;
    }

    .containerthree {
      display: flex;
      flex-direction: column;
    }

    .profile p {
      text-align: center;
      margin: 20px 20px 80px 10px;
    }

    
    
  }

 
  
